<!-- your html code here -->
<!--This is being worked on by Byan Chau-->
<div class="container Bryan m-auto">
    <h1>Porfolio</h1>
    <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula pora felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetuer. Fusce dapibus, tellus ac cursus commodo.</p>
    
    <div class="card-group">
        <div class="card me-3">
            <img src="./assets/img/big-project-image.png" class="card-img-top" alt="700 x 400">
            <div class="card-body">
                <h5 class="card-title text-primary">Project Name</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam viverra euismod odio, gravida pallentesque urna varius vitae.</p>
            </div>
        </div>
        <div class="card me-3">
            <img src="./assets/img/big-project-image.png" class="card-img-top" alt="700 x 400">
            <div class="card-body">
                <h5 class="card-title text-primary">Project Name</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam viverra euismod odio, gravida pallentesque urna varius vitae.</p>
            </div>
        </div>
        <div class="card">
            <img src="./assets/img/big-project-image.png" class="card-img-top" alt="700 x 400">
            <div class="card-body">
                <h5 class="card-title text-primary">Project Name</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam viverra euismod odio, gravida pallentesque urna varius vitae.</p>
            </div>
        </div>
    </div>
</div>