<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="./assets/img/2.jpg" class="img-fluid rounded-circle" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Hello, I'm the services.html</h5>
                <p class="card-text">Hello, I'm the services section and I was loaded using ajax from
                    templates/services.html</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>